<div class="jumbotron mt-4">

    <h1 class="display-4">SISTEMA DE COMPRA Y VENTA</h1>
    <p class="lead">PRACTICA DE SISTEMAS DE INFORMACIÓN GERENCIAL</p>
    <hr class="my-4">
    <p>INTEGRANTES:</p>
    <li>DARWIN PILALOA</li>
    <li>SILVIA CABRERA</li>
    <li>DIEGO AGUILAR</li>
    <li>BRYAN GONZALEZ</li>
</div>